version: '3.8'

services:
  web:
    build: .
    ports:
      - "8888:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: nexthand
    volumes:
      - db_data:/var/lib/mysql

  pma:
    image: phpmyadmin/phpmyadmin
    ports:
      - "9999:80"
    environment:
      PMA_HOST: db
    depends_on:
      - db

volumes:
  db_data: